<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
    <head>
        <vtex:metaTags />
        <meta name="controller" content="Account" />

        <!-- START - Subtemplate Metatags -->
        <vtex:template id="0-<%= storeAcronym %>-web-metatags" />
        <!-- END - Subtemplate Metatags -->

        <!-- START - Style e Subtemplate Styles -->
        <vtex:template id="0-<%= storeAcronym %>-web-styles" />
        <!-- END - Subtemplate Styles -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- START - Subtemplate Header -->
        <vtex:template id="0-<%= storeAcronym %>-web-header" />
        <!-- END - Subtemplate Header -->

        <!-- START - Main -->
        <main class="main" id="main">
            <div class="breadcrumb">
                <div class="av-container">
                    <div class="av-row">
                        <div class="av-col-xs-24">
                            <div class="bread-crumb">
                                <ul>
                                    <li><a title="Home" href="/">Home</a></li>
                                    <li class="last">
                                        <strong><a title="Minha conta" href="/account">Minha conta</a></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="account-title av-container">
                <div class="av-row">
                    <h2>Minha conta</h2>
                </div>
            </div>

            <div class="account-content av-container">
                <div class="av-row">
                    <div class="account-profile">
                        <div class="account-block-container">
                            <vtex.cmc:accountUserProfile></vtex.cmc:accountUserProfile>
                        </div>
                    </div>

                    <div class="account-address">
                        <div class="account-block-container">
                            <vtex.cmc:accountAddress></vtex.cmc:accountAddress>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- END - Main -->

        <!-- START: Modals -->
        <div class="account-modals">
            <div class="av-modal av-modal--profile">
                <div class="av-modal__modal">
                    <div class="av-modal__header">
                        <a href="javascript:;" class="av-modal-close"></a>
                    </div>

                    <div class="av-modal__content"></div>
                </div>
            </div>

            <div class="av-modal av-modal--address">
                <div class="av-modal__modal">
                    <div class="av-modal__header">
                        <a href="javascript:;" class="av-modal-close"></a>
                    </div>

                    <div class="av-modal__content"></div>
                </div>
            </div>

            <div class="av-modal av-modal--remove-address">
                <div class="av-modal__modal">
                    <div class="av-modal__header">
                        <a href="javascript:;" class="av-modal-close"></a>
                    </div>

                    <div class="av-modal__content"></div>
                </div>
            </div>

            <div class="av-modal av-modal--edit-address">
                <div class="av-modal__modal">
                    <div class="av-modal__header">
                        <a href="javascript:;" class="av-modal-close"></a>
                    </div>

                    <div class="av-modal__content"></div>
                </div>
            </div>
        </div>
        <!-- END: Modals -->

        <!-- START - Subtemplate Generico -->
        <vtex:template id="0-<%= storeAcronym %>-web-generico" />
        <!-- END - Subtemplate Generico -->

        <!-- START - Subtemplate Footer -->
        <vtex:template id="0-<%= storeAcronym %>-web-footer" />
        <!-- END - Subtemplate Footer -->

        <!-- INICIO - Suport content -->
        <div class="suport-content"></div>
        <!-- FIM - Suport content -->

        <!-- START - Scripts e Subtemplate Scripts -->
        <vtex:template id="0-<%= storeAcronym %>-web-scripts" />
        <!-- END - Subtemplate Scripts -->
    </body>
</html>
