.product {
  main.main {
    margin-top: 162px;
    @media (max-width: $screen-sm-max) {
      padding: 0 10px;
      margin-top: 100px;
    }
  }

  .breadcrumb {
    padding-top: 15px;
    display: block;
    @media (max-width: $screen-sm-max) {
      display: none;
      padding-top: 10px;
      ul {
        text-align: center;
      }
      li {
        float: none;
        display: inline-block;
        &.last {
          a {
            text-transform: uppercase;
            font-weight: $primaryFontExtraBold;
          }
        }
      }
    }
  }

  .product-images {
    #show {
      position: relative;
      @include clearfix();
      height: 490px;
      overflow-y: hidden;

      &.displayed {
        height: auto;
        overflow-y: auto;
      }
    }

    .economia-de,
    .preco-a-vista {
      display: none !important;
    }

    #include {
      @extend .av-col-md-20;
      @extend .av-col-xs-24;
      float: right;
      text-align: center;
      overflow: hidden;
      height: 380px;
      max-height: 380px;
      max-width: 380px;

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

    .thumbs {
      @extend .av-col-md-4;
      @extend .av-col-xs-24;
      margin: 0;
      @include resetList();
      opacity: 0;
      visibility: hidden;
      top: 200px;
      @include transition(all 300ms);
      @include transform(translateY(-50%));

      &.displayed {
        visibility: visible;
        opacity: 1;
        @include transition(all 300ms);
      }

      img {
        max-width: 100%;
        height: auto;
      }

      @media (max-width: $screen-sm-max) {
        padding-bottom: 30px;
        top: inherit;
        @include transform(translateY(0));
      }

      .slick-slide {
        margin: 8px 0;

        @media (max-width: $screen-sm-max) {
          margin: 0 8px;
        }
      }
    }

    .slick-arrow {
      background-color: transparent;
      position: relative;
      margin: 0 auto;
      font-size: 0;
      border: 0;
      display: block;
      &.slick-disabled {
        @include opacity(0.2);
      }
    }

    .slick-prev {
      @include arrow('top', 15px, $merlin);
      @include transform(translate(0) rotate(135deg));
      left: 0;
      border-width: 2px;
      position: inherit;
    }

    .slick-next {
      @include arrow('bottom', 15px, $merlin);
      left: 0;
      @include transform(translate(0) rotate(-45deg));
      border-width: 2px;
      position: inherit;
    }

    #image-main {
      visibility: hidden;
      opacity: 0;
      @media (max-width: $screen-sm-max) {
        max-width: 100%;
        height: auto;
      }
      @media (min-width: $screen-md-min) {
        height: 100%;
        width: auto;
        max-height: 514px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

      &.displayed {
        visibility: visible;
        opacity: 1;
        @include transition(opacity 300ms);
      }
    }

    #botaoZoom {
      display: block;
      text-align: center;
      &:focus,
      &:active {
        outline: none;
      }
    }

    .zoomPad img,
    #botaoZoom img {
      width: 100%;
      height: auto;
    }

    .zoomPad {
      position: relative;
    }

    .zoomWindow {
      background-color: white;
      overflow: hidden;
      left: 0 !important;
      width: 100%;
      height: 100%;
      cursor: crosshair;
      z-index: 98 !important;
    }

    .zoomWrapper {
      width: 100% !important;
      height: 100%;
    }

    .zoomWrapperImage img {
      width: 1000px !important;
      max-width: 1000px !important;
      height: auto;
    }

    .zoomWrapperTitle {
      display: none;
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }
  }

  .product-infos {
    @media (min-width: $screen-md-min) {
      padding-left: 10px;
    }
    @media (max-width: $screen-sm-max) {
      margin-bottom: 40px;
    }
  }

  .product-name {
    font-size: 20px;
    font-weight: $primaryFontRegular;
    h1 {
      margin: 0;
      font-size: 20px;
      font-weight: $primaryFontRegular;
    }
    @media (max-width: $screen-sm-max) {
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      h1 {
        margin: 0;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .product-reference {
    font-size: 12px;
    font-weight: $primaryFontRegular;
    color: $doveGray;
    line-height: 15px;
    padding: 5px 0 20px 0;

    @media (max-width: $screen-sm-max) {
      font-size: 12px;
      margin-top: 10px;
      text-align: center;
    }

    .skuReference {
      display: inline-block;
    }
  }

  .product-sku {
    > .skuList {
      .imageSku,
      .nomeSku {
        display: none;
      }
    }

    .sku-selector-container {
      ul {
        @include resetList();
        li {
          display: inline-block;
          vertical-align: middle;
          @media (max-width: $screen-sm-max) {
            display: block;
            text-align: center;
          }
          &.specification {
            font-size: 12px;
            text-transform: uppercase;
            margin-right: 5px;
            @media (max-width: $screen-sm-max) {
              margin-bottom: 10px;
            }
          }

          span {
            input {
              display: none;
              & + label {
                font-size: 12px;
                color: $doveGray;
                @include letter-spacing(200);
                border: 1px solid $doveGray;
                position: relative;
                margin: 0 5px;
                display: inline-block;
                text-align: center;
                width: 48px;
                padding: 5px 0;
                overflow: hidden;
                &.dimension-Voltagem {
                  width: auto;
                  padding: 5px 10px;
                }
                cursor: pointer;
                @media (max-width: $screen-sm-max) {
                  margin-bottom: 10px;
                }
                &.sku-picked {
                  border-color: $thunder;
                  color: $thunder;
                  &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: calc(100% + 2px);
                    height: calc(100% + 2px);
                    border: 2px solid $thunder;
                    left: -1px;
                    top: -1px;
                  }
                }

                &.item_unavailable {
                  background-color: $desertStorm;
                  border-color: $doveGray;
                  position: relative;

                  &:after {
                    content: '';
                    width: calc(100% + 20px);
                    height: 1px;
                    background-color: $doveGray;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%) rotate(30deg));
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .product-buy-content {
    @include clearfix();
    margin: 25px 0;
    @media (max-width: $screen-sm-max) {
      border-bottom: 0;
    }

    &--notify-me {
      padding-top: 0;
      margin-top: -1px;
      border-bottom: 0;

      .product-buy {
        display: inline-block;
        width: 100%;
        @media (max-width: $screen-sm-max) {
          margin-top: -0;
        }
      }

      .portal-notify-me-ref {
        display: block;
        // margin-top: 30px;
        // padding-top: 30px;
      }
    }
  }
  .product-price {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    @media (max-width: $screen-sm-max) {
      float: none;
      text-align: center;
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
    }
    &--displayed {
      display: inline-block;
    }
    .productPrice {
      display: none;
      &--displayed {
        display: inline-block;
      }
    }

    .plugin-preco {
      padding: 0;
      margin: 0;
    }

    .descricao-preco {
      margin: 0;
      position: relative;
    }

    .price-list-price {
      font-size: 14px;
      font-weight: $primaryFontRegular;
      line-height: 22px;
      color: $doveGray;
      text-transform: lowercase;
      display: inline-block !important;
      font-style: normal;

      strong {
        text-transform: uppercase;
        font-weight: $primaryFontRegular;
      }
    }

    .price-list-price--por {
      margin-left: 6px;
      font-size: 34px;
      font-weight: $primaryFontExtraBold;
      line-height: 43px;
      display: block;
    }

    .price-best-price {
      font-style: normal;
    }

    .price-best-price strong {
      font-size: 24px;
      font-weight: $primaryFontRegular;
      display: block;
      @include letter-spacing(40);
    }

    .price-installments {
      font-style: normal;
      color: $thunder;
      font-size: 16px;
      b {
        font-weight: $primaryFontRegular;
      }

      .skuBestInstallmentNumber,
      .skuBestInstallmentValue {
        font-size: 16px;
        line-height: 26px;
      }

      @media (max-width: $screen-sm-max) {
        font-size: 12px;
      }
    }

    .preco-a-vista,
    .economia-de {
      display: none !important;
    }
  }
  .product-buy {
    display: inline-block;
    vertical-align: middle;
    @media (max-width: $screen-sm-max) {
      float: none;
      display: block;
      width: 100%;
    }

    .buy-button {
      @extend .button;
      background-color: $gorse;
      width: 270px;
      max-width: 270px;
      height: 50px;
      font-size: 16px;
      font-weight: $primaryFontSemiBold;
      line-height: 50px;
      text-align: center;
      @include letter-spacing(50);
      color: $thunder;
      display: block;
      @media (max-width: $screen-sm-max) {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .portal-notify-me-ref {
    background-color: $white;
    width: 100%;
    text-align: left;
    @media (max-width: $screen-sm-max) {
      text-align: center;
    }

    .notifyme-title {
      margin: 0;
      font-size: 24px;
      font-weight: $primaryFontRegular;
      @include letter-spacing(40);
    }

    fieldset {
      &.error {
        color: red;
        border: none;
      }
    }

    .sku-notifyme-form {
      padding: 0;
      margin: 0;
      border: 0;

      p {
        margin: 15px 0 24px;
        font-size: 15px;
        font-weight: $primaryFontRegular;
        line-height: 24px;
      }

      #notifymeClientName {
        display: none !important;
      }

      #notifymeClientEmail {
        @include placeholder {
          color: $doveGray;
          font-size: 14px;
        }
        background-color: $white;
        width: 100%;
        max-width: 380px;
        height: 40px;
        padding: 0 17px;
        font-size: 14px;
        border: 1px solid $doveGray;
      }

      .notifyme-button-ok {
        @extend .button;
        width: 160px;
        padding: 9px 0;
        margin-top: 10px;
        font-size: 14px;
        font-weight: $primaryFontSemiBold;
        text-transform: uppercase;
        display: block;
        color: $thunder;
        border: 1px solid $thunder;
        background-color: $white;
        &:hover {
          background-color: $white;
          text-decoration: underline;
        }
      }
    }

    .success {
      border: none;
      padding: 0;
      margin: 15px 0;
      font-size: 13px;
      em {
        font-style: normal;
      }
    }

    &--displayed {
      padding-top: 20px;
    }
  }

  .product-shipping {
    margin-top: 20px;

    @media (max-width: $screen-sm-max) {
    }

    .product-shipping-text {
      width: 150px;
      font-size: 14px;
      line-height: 16px;
      display: inline-block;
      vertical-align: middle;

      @media (max-width: $screen-sm-max) {
        width: 100%;
        margin-bottom: 18px;
        text-align: center;
        display: block;
      }
    }

    #calculoFrete {
      width: calc(100% - 210px);
      display: inline-block;

      @media (max-width: $screen-sm-max) {
        width: 100%;
        display: block;
      }
    }

    #popupCalculoFreteWrapper,
    .contentWrapper .header,
    .contentWrapper .footer,
    .contentWrapper .content fieldset .quantity {
      display: none;
    }

    .content {
      fieldset {
        padding: 0;
        margin: 0;
        border: 1px solid $doveGray;
        width: 100%;
        @media (min-width: $screen-md-min) {
          max-width: 27 0px;
        }

        label.prefixo input {
          -moz-appearance: none !important;
          -webkit-appearance: none !important;
          @include placeholder {
            color: $doveGray;
            font-size: 14px;
          }
          background-color: $white;
          width: calc(100% - 50px);
          height: 40px;
          padding: 0 0 0 22px;
          float: left;
          font-size: 14px;
          border: none;

          @media (max-width: $screen-sm-max) {
            width: calc(100% - 60px);
          }
        }
      }

      .frete-calcular {
        margin-left: -1px;
        display: inline-block;
      }
      .freight-btn {
        @include appearance(none);
        width: 50px;
        height: 40px;
        padding: 0;
        font-size: 14px;
        background-color: $white;
        color: $thunder;
        text-align: center;
        border: none;
        font-weight: $primaryFontRegular;
        @include letter-spacing(150);
      }

      .cep-busca {
        display: none;
      }

      .freight-values {
        margin-top: 6px;
        @include clearfix();

        thead {
          display: none;
        }

        tr {
          display: block;
        }

        td {
          padding: 5px;
          vertical-align: top;
          text-align: left;
          @media (max-width: $screen-sm-max) {
            font-size: 14px;
          }

          &:nth-child(1) {
            font-weight: $primaryFontSemiBold;
          }
        }
      }
    }
  }

  .rates-and-benefits {
    margin-top: 49px;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .product-description {
    padding: 42px 0 12px;
    margin-top: 104px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    @media (max-width: $screen-sm-max) {
      padding: 22px 0 24px;
      margin-top: 65px;
    }
  }

  .productDescription {
    text-align: left;
  }

  .product-details {
    position: relative;
    border-bottom: 1px solid $desertStorm;
    padding-bottom: 50px;
    margin-top: 20px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $doveGray;
      position: absolute;
      top: 56px;
      left: 0;
    }

    @media (max-width: $screen-sm-max) {
      .av-container,
      .av-col-xs-24 {
        padding: 0;
      }
      .description-content {
        padding: 0 20px;
      }
    }
  }

  .product-details-tabs {
    display: block;
    width: 100%;
    text-align: center;
  }

  .product-details-tab {
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    .product-details__title {
      text-align: center;
      position: relative;
      font-size: 18px;
      text-align: center;
      color: $doveGray;
      display: block;
      font-weight: $primaryFontRegular;
      cursor: pointer;
      text-transform: uppercase;
      padding: 0 10px 12px 10px;
      @include letter-spacing(40);
      &.selected {
        font-weight: $primaryFontSemiBold;
        color: $black;
        border-bottom: 5px solid $gorse;
        @media (max-width: $screen-sm-max) {
          margin-top: -58px;
        }
      }
    }
  }

  .product-details-contents {
    margin-top: 40px;
    text-align: center;
    @media (max-width: $screen-sm-max) {
      margin-top: 20px;
      font-size: 12px;
    }

    table.Especificacoes {
      th {
        font-size: 14px;
        font-weight: $primaryFontRegular;
        text-transform: none;
      }

      td {
        text-transform: none;
        text-align: left;
        color: $doveGray;
        font-size: 14px;
      }
    }
    #div_Conteudo_DetalhesDoProduto_pnlDimensoes {
      .dtSkuCompleteName {
        display: none;
      }
      dd {
        margin: 0;
        font-weight: bold;
        padding: 10px 0;
        span {
          font-weight: normal;
        }
        &:nth-child(even) {
          background-color: $alabaster;
        }
        &:nth-child(odd) {
          background-color: $white;
        }
      }
    }
  }

  .product-details-content {
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 300ms);
    display: none;
    &.selected {
      display: block;
      visibility: visible;
      opacity: 1;
      @include transition(opacity 300ms);
    }

    #caracteristicas {
      h4 {
        display: none;
      }
    }

    table {
      display: inline-block;
      width: 100%;
      tbody {
        display: block;
        width: 100%;
      }
      tr {
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        &:nth-child(odd) {
          background-color: $alabaster;
        }
      }

      td {
        width: 100%;
        text-align: left;
        padding-left: 10%;
      }

      .name-field {
        font-weight: $primaryFontExtraBold;
      }

      .name-field,
      .value-field {
        text-transform: uppercase;
        text-align: left;
        width: 50%;
        display: inline-table;
        font-size: 14px;
        @media (max-width: $screen-sm-max) {
          font-size: 11px;
        }
      }

      .value-field {
        color: $silverChalice;
      }
    }
  }

  .product-description__text {
    font-size: 14px;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      font-size: 12px;
    }
  }

  .product-related {
    margin-top: 30px;
    .av-container {
      padding: 0;
      @media (min-width: $screen-md-min) {
        > .av-row {
          &:last-child {
            margin: 0;
          }
        }
      }
    }

    .main-shelf {
      ul li {
        padding: 0 10px;
      }
      .slick-dots {
        bottom: 0;
        li {
          margin: 0;
        }
      }
    }
  }
  .product-related__title {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    @include letter-spacing(40);
    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 80px;
      height: 2px;
      background-color: $saffronMango;
      left: 50%;
      @include translateX(-50%);
      bottom: -5px;
    }
  }

  .av-modal__modal {
    width: 100%;
    max-width: 900px;
    border-radius: 4px;
    padding: 10px;

    .av-modal__header {
      position: relative;
    }

    .av-modal-close {
      all: initial;
      @include closeX($merlin, 15px, 2px);
      position: absolute;
      right: -5px;
      top: -5px;
      width: 30px;
      height: 30px;
      background: rgba($white, 0.8);
      border: 1px solid $dustyGray;
      border-radius: 100%;
      cursor: pointer;
    }
  }

  .av-modal__content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.measures-wrapper {
  border-top: 1px solid $desertStorm;
  border-bottom: 1px solid $desertStorm;
  padding: 15px 0;
}

.product-measures {
  @media (max-width: $screen-sm-max) {
    margin-bottom: 40px;
    > .av-container {
      padding: 0;
    }
  }
}

.product-measures__table {
  padding: 0;
  @media (min-width: $screen-md-min) {
    display: flex;
    justify-content: space-around;
    padding: 0 90px;
  }

  @media (max-width: $screen-sm-max) {
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
}

.product-measures__item {
  list-style: none;
  .product-measures__item--icon {
    display: inline-block;
    margin-right: 20px;
    @media (max-width: $screen-sm-max) {
      margin-right: 15px;
    }
  }

  .product-measures__item--text {
    font-size: 13px;
    display: inline-block;
    strong {
      font-weight: $primaryFontExtraBold;
      font-size: 13px;
      display: block;
    }
  }

  .product-measures__item--icon {
    padding: 16px;
    &-altura {
      @extend .icon-measures-altura;
    }
    &-largura {
      @extend .icon-measures-largura;
    }

    &-profundidade {
      @extend .icon-measures-profundidade;
    }

    &-peso {
      @extend .icon-measures-peso;
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 15px;
    display: flex;
    align-items: center;
    width: 50%;
    .product-measures__item--text {
      font-size: 12px;
      strong {
        font-size: 12px;
      }
    }
  }
}

.calculadora-produto {
  display: none;
  align-items: center;
  padding: 20px 0;
  margin: 20px 0 0;
  border-top: 1px solid $alto;
  border-bottom: 1px solid $alto;
  position: relative;
  @media (max-width: $screen-sm-max) {
    text-align: center;
  }
  &.displayed {
    display: inline-block;
    width: 100%;
    @media (min-width: $screen-md-min) {
      display: flex;
    }
  }
  i {
    display: inline-block;
  }
  .calculadora-qtd {
    float: left;
    @media (max-width: $screen-sm-max) {
      display: inline-block;
      float: none;
      vertical-align: middle;
    }
  }
  .calculadora-qtd--text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }
  .calculadora-qtd--field {
    width: 112px;
    border: 1px solid $doveGray;
    display: inline-block;
    vertical-align: middle;
    span {
      width: calc(100% / 3);
      display: inline-block;
      vertical-align: middle;
      position: relative;
      height: 38px;
      cursor: pointer;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }

      &.calculadora-qtd--less {
        &:before {
          @include sprite($sprite-main-icon-produto-qtd-less);
        }
      }

      &.calculadora-qtd--more {
        &:before {
          @include sprite($sprite-main-icon-produto-qtd-more);
        }
      }
    }

    input {
      width: calc(100% / 3);
      display: inline-block;
      vertical-align: middle;
      @include appearance(none);
      border: none;
      border-radius: 0;
      font-size: 14px;
      text-align: center;
    }
  }

  .calculadora-lote {
    text-align: left;
    text-transform: uppercase;
    float: left;
    margin: 0 15px;
    font-size: 12px;
    @media (max-width: $screen-sm-max) {
      float: none;
      display: inline-block;
      vertical-align: middle;
    }

    .calculadora-lote-unidade {
      display: block;
      width: 100%;
    }

    .calculadora-lote-tipo {
      display: block;
      width: 100%;
    }
  }

  .calculadora-minimo {
    float: left;
    font-size: 12px;
    cursor: pointer;
    @media (max-width: $screen-sm-max) {
      display: block;
      text-align: center;
      width: 100%;
      margin-top: 20px;
    }
    i,
    .calculadora-minimo--text {
      display: inline-block;
      vertical-align: middle;
    }

    .calculadora-minimo--text {
      margin-left: 10px;
      vertical-align: top;
      @media (max-width: $screen-sm-max) {
        text-align: left;
      }
    }

    .calculadora-minimo--text__value {
      display: block;
      line-height: 12px;
    }
  }

  .calculadora-minimo--popup {
    @include transition(opacity 300ms);
    opacity: 0;
    display: none;
    position: absolute;
    width: 250px;
    height: 180px;
    background-color: $thunder;
    color: $white;
    top: -170px;
    padding: 30px;
    right: 110px;

    b {
      font-weight: $primaryFontRegular;
    }
    &.displayed {
      display: block;
      opacity: 1;
      @include transition(opacity 300ms);
    }

    &:after {
      content: '';
      @include triangle(down, 20px, $thunder);
      position: absolute;
      bottom: -30px;
      right: 10px;
      display: block;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      left: 0;
      top: 0;
      &:after {
        display: none;
      }
    }

    span {
      display: block;
    }

    .calculadora-minimo--popup__close {
      cursor: pointer;
      position: absolute;
      @include closeX($doveGray, 15px, 1px);
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      z-index: 3;
    }

    .calculadora-minimo--popup__title {
      color: $gorse;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .calculadora-minimo-step1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: $thunder;
    padding: 40px 29px 30px 29px;

    .calculadora-minimo--text1 {
      b {
        text-transform: uppercase;
      }
    }

    .calculadora-minimo--popup__field {
      margin-top: 20px;
    }

    .calculadora-minimo--input {
      padding: 6px 20px;
      max-width: 90px;
      display: inline-block;
      font-size: 14px;
      color: $thunder;
    }

    .calculadora-btn-step1 {
      max-width: 100px;
      display: inline-block;
      padding: 8px 0;
      background-color: $alto;
      font-size: 14px;
      text-align: center;
      width: 100%;
      cursor: pointer;
    }
  }

  .calculadora-minimo-step2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    top: 0;
    background-color: $thunder;
    padding: 40px 29px 30px 29px;
    display: none;

    .calculadora-minimo--text1 {
      b {
        text-transform: uppercase;
      }
    }

    &.displayed {
      display: block;
    }

    .calculadora-minimo--popup__field {
      margin-top: 3px;
    }

    .calculadora-btn-step2 {
      display: inline-block;
      padding: 8px 0;
      background-color: $alto;
      font-size: 14px;
      text-align: center;
      width: 100%;
      cursor: pointer;
    }
  }
}
