<footer>
    <div class="footer-top">
        <ul class="footer-pagamento">
            <li class="footer-title">Pagamento</li>
            <li class="pagamento-visa"><img src="/arquivos/icon-footer-gateways-visa.png" /></li>
            <li class="pagamento-mastercard"><img src="/arquivos/icon-footer-gateways-mastercard.png" /></li>
            <li class="pagamento-diners"><img src="/arquivos/icon-footer-gateways-dinners.png" /></li>
            <li class="pagamento-amex"><img src="/arquivos/icon-footer-gateways-amex.png" /></li>
            <li class="pagamento-elo"><img src="/arquivos/icon-footer-gateways-elo.png" /></li>
            <li class="pagamento-boleto"><img src="/arquivos/icon-footer-gateways-boleto.png" /></li>
        </ul>
        <ul class="footer-seguranca">
            <li class="footer-title">Site Seguro</li>
            <li class="certificacoes-lets-encrypt"><img src="/arquivos/icon-footer-secure-lets-encrypt.png" /></li>
            <li class="certificacoes-pci">
                <a href="http://secure.vtex.com/?an=#" target="_blank"><img src="/arquivos/icon-footer-secure-pci.png"/></a>
            </li>
        </ul>
        <div class="footer-copyright">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper">
            <div class="footer-credits">
                <a class="credits-avanti" href="#" target="_blank"><img src="/arquivos/icon-footer-copy-avanti.png"/></a>
                <a class="credits-vtex" href="http://www.vtex.com/" target="_blank"><img src="/arquivos/icon-footer-copy-vtex.png"/></a>
            </div>
        </div>
    </div>
</footer>
