<header class="header">
  <!-- START: Welcome -->
  <div class="header-welcome hidden">
    <vtex.cmc:welcomeMessage></vtex.cmc:welcomeMessage>
  </div>
  <!-- END: Welcome -->

  <!-- START: Header Content -->
  <div class="header__content">
    <div class="av-container">
      <div class="av-row">
        <div class="av-col-xs-24">
          <div class="header__top--wrapper">
            <!-- START: Hamburger Menu -->
            <div class="menu-bar">
              <a href="#" class="menu-bar__link">
                <span class="menu-bar__span"></span>
              </a>
            </div>
            <!-- END: Hamburger Menu -->

            <!-- START: Logo -->
            <div class="header__logo">
              <a href="/" class="logo__link">
                <img src="/arquivos/logo-<%= storeName %>.png" alt="<%= storeName %>" class="logo__image" />
              </a>
            </div>
            <!-- END: Logo -->

            <!-- START: Search -->
            <div class="header__search">
              <form action="#" method="post" class="search__form">
                <input type="search" class="search__input" placeholder="Digite sua busca" />

                <button type="submit" class="search__submit">Buscar</button>
              </form>

              <div class="search__target"></div>
            </div>
            <!-- END: Search -->

            <div class="header-stores header-item av-hidden-sm av-hidden-xs">
              <a href="/institucional/nossas-lojas" class="header-stores-title header-item-link"><i class="sprite icon-header-stores header-item-icon"></i>Onde encontrar</a>
            </div>

            <div class="header-account header-item av-hidden-sm av-hidden-xs">
              <a href="/account" class="header-account-title header-item-link"><i class="sprite icon-header-account header-item-icon"></i>Minha conta</a>
              <ul class="header-account-drop">
                <li class="header-account-item"><a class="header-account-link" href="/account">Minha Conta</a></li>
                <li class="header-account-item"><a class="header-account-link" href="/account/#/orders">Meus Pedidos</a></li>
                <li class="header-account-item header-account-login hidden"><a class="header-account-link" href="/login">Entrar</a></li>
                <li class="header-account-item header-account-logout hidden"><a class="header-account-link" href="/no-cache/user/logout">Sair</a></li>
              </ul>
            </div>

            <!-- START: Header Minicart -->
            <div class="header__minicart">
              <a href="#" class="header__minicart-icon">
                <span class="header__minicart-total">0</span>
              </a>

              <!-- START: Minicart -->
              <div class="minicart">
                <!-- START: Minicart Header -->
                <div class="minicart-header">
                  <h3 class="minicart-header__title">Carrinho</h3>

                  <div class="minicart-header__close">
                    <a href="#" class="minicart-header__close-link">
                      <span class="minicart-header__close-bar"></span>
                    </a>
                  </div>
                </div>
                <!-- END: Minicart Header -->

                <!-- START: Minicart Products -->
                <ul class="minicart-products"></ul>
                <!-- END: Minicart Products -->

                <!-- START: Minicart Footer -->
                <div class="minicart-footer">
                  <div class="minicart-resume">
                    <div class="minicart-resume__wrap">
                      <div class="minicart-resume__total">
                        <div class="minicart-resume__total-items">Itens: <span class="minicart-resume__total-counter">0</span></div>

                        <div class="minicart-resume__total-price">Total: <span class="minicart-resume__total-price-target">R$ 0,00</span></div>
                      </div>

                      <div class="minicart-resume__checkout">
                        <a href="/checkout" class="minicart-checkout button button--medium button--black">Finalizar compra</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END: Minicart Footer -->
              </div>
              <!-- END: Minicart -->
            </div>
            <!-- END: Header Minicart -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Header Content -->

  <!-- START: Menu -->
  <nav class="header__menu">
    <div class="av-container">
      <div class="av-row">
        <div class="av-col-xs-24 av-col-static">
          <!-- START: Responsive -->
          <div class="header__responsive">
            <!-- START: Responsive - Menu header -->
            <div class="menu__header">
              <h3 class="menu__header-title">Menu</h3>
              <div class="menu-bar">
                <a href="#" class="menu-bar__link">
                  <span class="menu-bar__span"></span>
                </a>
              </div>
            </div>
            <!-- END: Responsive - Menu header -->

            <!-- START: Responsive - Account -->
            <div class="menu__account">
              <a href="/account" class="menu__account-link">Minha conta</a>
              <a href="/account/#/orders" class="menu__account-link">Meus pedidos</a>
            </div>
            <!-- END: Responsive - Account -->
          </div>
          <!-- END: Responsive -->

          <ul class="menu__list">
            <li class="menu__item departamento-teste">
              <i class="menu__item--icon sprite icon-menu-departamento-teste"></i>
              <a href="/departamento-teste" class="menu__link menu__link--submenu" data-name="departamento-teste">Departamento Teste</a>
              <!-- START: Submenu -->
              <div class="menu__submenu-container">
                <div class="menu__submenu">
                  <div class="header-main-menu-drop-block header-main-menu-drop-block--split">
                    <div class="header-main-menu-drop-list" rel="departamento-teste" data-name="departamento-teste"></div>
                  </div>
                </div>
              </div>
              <!-- END: Submenu -->
            </li>

            <li class="menu__item menu__item--all">
              <i class="menu__item--icon sprite icon-menu-all"></i>
              <a href="#" class="menu__link menu__link--submenu"> VER TODOS DEPARTAMENTOS </a>

              <div class="menu__submenu-container">
                <div class="menu__submenu">
                  <div class="header-main-menu-drop-block header-main-menu-drop-block--split">
                    <div class="header-main-menu-drop-list" rel="all" data-name="all"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- END: Menu -->
</header>
