<!-- START: Footer -->
<footer class="footer">
  <!-- START: Newsletter -->
  <div class="footer-newsletter">
    <div class="av-container">
      <div class="av-row">
        <div class="av-col-xs-24 av-col-md-offset-4 av-col-md-16">
          <p class="newsletter__title">Cadastre-se e receba <strong>nossas ofertas exclusivas</strong></p>

          <form action="/avanti/dataentities/NL/documents" method="post" novalidate="novalidate" class="newsletter__form">
            <div class="newsletter__field">
              <input type="email" class="newsletter__input" name="email" placeholder="Digite seu e-mail" required="true" />
            </div>

            <div class="newsletter__button">
              <button type="submit" class="newsletter__submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Newsletter -->

  <!-- START: Footer Content -->
  <div class="footer-content">
    <div class="av-container">
      <div class="av-row">
        <div class="av-col-xs-24 av-col-sm-12 av-col-md-4">
          <div class="footer-content__wrap footer-content__atendimento">
            <p class="footer-content__title footer-content__title--arrow">Atendimento</p>

            <ul class="footer-content__list">
              <li class="footer-content__item">
                <a href="/institucional/fale-conosco" class="footer-content__link">Fale conosco</a>
              </li>
              <li class="footer-content__item hide">
                <a href="/institucional/formas-de-entrega" class="footer-content__link">Formas de entrega</a>
              </li>
              <li class="footer-content__item hide">
                <a href="/institucional/prazos-de-envio" class="footer-content__link">Prazos de envio</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/trocas-e-devolucoes" class="footer-content__link">Trocas e Devoluções</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/politica-de-precos" class="footer-content__link">Política de Preços</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="av-col-xs-24 av-col-sm-12 av-col-md-4">
          <div class="footer-content__wrap footer-content__quem-somos">
            <p class="footer-content__title footer-content__title--arrow">Institucional</p>

            <ul class="footer-content__list">
              <li class="footer-content__item">
                <a href="/institucional/quem-somos" class="footer-content__link">Quem somos</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/politica-de-seguranca" class="footer-content__link">Política de segurança</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/onde-encontrar" class="footer-content__link">Onde encontrar</a>
              </li>
              <li class="footer-content__item">
                <a href="/institucional/nossas-lojas" class="footer-content__link">Nossas lojas</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="av-col-xs-24 av-col-sm-12 av-col-md-6">
          <div class="footer-content__wrap">
            <p class="footer-content__title footer-content__title--arrow">Fale Conosco</p>

            <ul class="footer-content__list">
              <li class="footer-content__item">
                <a href="tel:+99999999" class="footer-content__link footer-content__link--phone">
                  (99) 9999-9999
                </a>
              </li>
              <li class="footer-content__item">
                <a href="mailto:contato@avanti.com.br" class="footer-content__link footer-content__link--email">
                  contato@avanti.com.br
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="av-col-xs-24 av-col-sm-12 av-col-md-5">
          <div class="footer-content__wrap footer-content__payment">
            <p class="footer-content__title">Pagamento</p>

            <ul class="footer-content__list footer-content__list--gateways">
              <li class="footer-content__item">
                <span href="#" class="footer-content__link footer-content__link--gateways sprite icon-footer-gateways-visa">Visa</span>
              </li>
              <li class="footer-content__item">
                <span href="#" class="footer-content__link footer-content__link--gateways sprite icon-footer-gateways-mastercard">Mastercard</span>
              </li>
              <li class="footer-content__item">
                <span href="#" class="footer-content__link footer-content__link--gateways sprite icon-footer-gateways-dinners">Dinners Club</span>
              </li>
              <li class="footer-content__item">
                <span href="#" class="footer-content__link footer-content__link--gateways sprite icon-footer-gateways-amex">AmericanExpress</span>
              </li>
              <li class="footer-content__item">
                <span href="#" class="footer-content__link footer-content__link--gateways sprite icon-footer-gateways-elo">Elo</span>
              </li>
              <li class="footer-content__item">
                <span href="#" class="footer-content__link footer-content__link--gateways sprite icon-footer-gateways-boleto">Boleto</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="av-col-xs-24 av-col-sm-12 av-col-md-4">
          <div class="footer-content__wrap footer-content__security">
            <p class="footer-content__title">Site Seguro</p>

            <ul class="footer-content__list footer-content__list--secure">
              <li class="footer-content__item">
                <span href="#" class="footer-content__link footer-content__link--secure sprite icon-footer-secure-lets-encrypt">Let's Encrypt</span>
              </li>
              <li class="footer-content__item">
                <a href="http://secure.vtex.com/?an=avanti" target="_blank" class="footer-content__link footer-content__link--secure sprite icon-footer-secure-pci">PCI</a>
              </li>
              <li class="footer-content__item">
                <div id="armored_website">
                  <param id="aw_preload" value="true" />
                  <param id="aw_use_cdn" value="true" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Footer Content -->

  <!-- START: Footer Bottom -->
  <div class="footer-bottom">
    <div class="av-container">
      <div class="av-row">
        <div class="av-col-xs-24 av-col-md-16">
          <div class="footer-bottom__text">
            Avanti! E-commerce e Marketing Digital
            <span
              >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span
            >
          </div>
        </div>

        <div class="av-col-xs-24 av-col-md-6 av-col-md-offset-2">
          <ul class="footer-copy__list">
            <li class="footer-copy__item">
              <a href="http://penseavanti.com.br/" target="_blank" class="footer-copy__link sprite icon-footer-copy-avanti">Avanti</a>
            </li>
            <li class="footer-copy__item">
              <a href="https://www.vtex.com/" target="_blank" class="footer-copy__link sprite icon-footer-copy-vtex">VTEX</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Footer Bottom -->
</footer>
<!-- END: Footer -->
